[Unit]
Description=Sonarr
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
AutoUpdate=registry

Environment=PUID=0
Environment=PGID=0

HostName=sonarr
Network=proxy.network
PublishPort=8989:8989/tcp

Volume=%h/containers/storage/sonarr/config:/config:rw,Z
Volume=/mnt/ssd:/data:rw,z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target