[Unit]
Description=Umami
Wants=network-online.target
After=network-online.target local-fs.target postgres.service
Requires=postgres.service

[Container]
ContainerName=umami
Image=ghcr.io/umami-software/umami:latest
AutoUpdate=registry
Timezone=local

EnvironmentFile=umami.env

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target