[Unit]
Description=Overseerr
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=overseerr
Image=lscr.io/linuxserver/overseerr:latest
AutoUpdate=registry
Timezone=local

Environment=PUID=0
Environment=PGID=0

HostName=overseerr
Network=proxy.network
PublishPort=5055:5055/tcp

Volume=%h/containers/storage/overseerr/config:/config:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target