[Unit]
Description=MySpeed
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=myspeed
Image=docker.io/germannewsmaker/myspeed:latest
AutoUpdate=registry
Timezone=local

Network=proxy.network
HostName=myspeed
PublishPort=5216:5216/tcp

Volume=%h/containers/storage/myspeed/config:/myspeed/data:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=90
SuccessExitStatus=0 143
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target