[Unit]
Description=Audiobookshelf
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=audiobookshelf
Image=docker.io/advplyr/audiobookshelf:latest
AutoUpdate=registry
Timezone=local

User=0:0
Environment=PORT=13378

Network=proxy.network
HostName=audiobookshelf
PublishPort=13378:13378/tcp

Volume=%h/containers/storage/audiobookshelf/config:/config:rw,Z
Volume=%h/containers/storage/audiobookshelf/metadata:/metadata:rw,Z
Volume=/mnt/hdd/audiobooks:/audiobooks:ro,z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=90
SuccessExitStatus=0 143
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target