[Unit]
Description=FileBrowser
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=filebrowser
Image=ghcr.io/gtsteffaniak/filebrowser:latest
AutoUpdate=registry

EnvironmentFile=filebrowser.env

HealthCmd=none

UserNS=keep-id:uid=1000,gid=1000

HostName=filebrowser
Network=proxy.network
PublishPort=8005:8005/tcp

Volume=%h/containers/storage/filebrowser/data:/home/filebrowser/data:rw,Z
Volume=%h/troy:/mnt/home-troy:rw,Z
Volume=/mnt:/mnt/host-mnt:rw,Z
Volume=/opt/stacks:/mnt/host-opt:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target