[Unit]
Description=Vaultwarden
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest
AutoUpdate=registry

EnvironmentFile=vaultwarden.env

HostName=vaultwarden
Network=proxy.network
PublishPort=8004:80/tcp

Volume=%h/containers/storage/vaultwarden/config:/data:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target