[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target local-fs.target node-exporter.service
Requires=node-exporter.service

[Container]
ContainerName=prometheus
Image=docker.io/prom/prometheus:latest
AutoUpdate=registry
Timezone=local

Exec=--config.file=/etc/prometheus/prometheus.yaml --web.enable-lifecycle

HostName=prometheus
Network=proxy.network
PublishPort=9090:9090/tcp

Volume=%h/containers/storage/prometheus/config/prometheus.yaml:/etc/prometheus/prometheus.yaml:ro,Z
Volume=%h/containers/storage/prometheus/config/alerts.yaml:/etc/prometheus/alerts.yaml:ro,Z
Volume=%h/containers/storage/prometheus/:/prometheus:rw

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target