[Unit]
Description=Pi-hole
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=pihole
Image=docker.io/pihole/pihole:latest
AutoUpdate=registry
Timezone=local

PodmanArgs=--privileged
AddCapability=NET_ADMIN
AddCapability=NET_BIND_SERVICE
AddCapability=NET_RAW
AddCapability=SYS_NICE
AddCapability=SYS_TIME
AddCapability=CHOWN

Environment=PIHOLE_UID=1000
Environment=PIHOLE_GID=1000
Environment=FTLCONF_webserver_api_password=''

Network=proxy.network
HostName=pihole
PublishPort=8003:8003/tcp
PublishPort=53:53/tcp
PublishPort=53:53/udp

Volume=%h/containers/storage/pihole/config:/etc/pihole:rw,Z

[Service]
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target