[Unit]
Description=Redis
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
Pod=paperless.pod
ContainerName=redis
Image=docker.io/library/redis:latest
AutoUpdate=registry
Timezone=local

EnvironmentFile=paperless.env

Volume=%h/containers/storage/redis/data:/data:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target