[Unit]
Description=Navidrome Music Server
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=navidrome
Image=docker.io/deluan/navidrome:latest
AutoUpdate=registry
Timezone=local

Environment=ND_ENABLECOVERANIMATION=false

UserNS=keep-id:uid=1000,gid=1000

HostName=navidrome
Network=proxy.network
PublishPort=4533:4533/tcp

Volume=%h/containers/storage/navidrome/data:/data:rw
Volume=/mnt/hdd/music:/music:ro

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target