[Unit]
Description=Mosquitto
Wants=network-online.target
After=network-online.target local-fs.target
Requires=zigbee2mqtt.service
After=zigbee2mqtt.service

[Container]
ContainerName=mosquitto
Image=docker.io/library/eclipse-mosquitto:latest
AutoUpdate=registry
Timezone=local

UserNS=keep-id:uid=1000,gid=1000

Network=proxy.network
HostName=mosquitto
PublishPort=1883:1883/tcp

Volume=%h/containers/storage/mosquitto/config:/mosquitto/config:rw,Z
Volume=%h/containers/storage/mosquitto/config/log:/mosquitto/log:rw,Z
Volume=%h/containers/storage/mosquitto/data:/mosquitto/data:rw,Z

[Service]
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target