[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target local-fs.target prometheus.service
Requires=prometheus.service

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:latest
AutoUpdate=registry

HostName=grafana
Network=proxy.network
PublishPort=3000:3000/tcp

Volume=%h/containers/storage/grafana/config:/etc/grafana:ro,Z
Volume=%h/containers/storage/grafana/dashboards:/etc/grafana/dashboards:ro,Z
Volume=%h/containers/storage/grafana/provisioning:/etc/grafana/provisioning:ro,Z
Volume=%h/containers/storage/grafana/data:/var/lib/grafana:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target