[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target local-fs.target
Requires=prometheus.service
After=prometheus.service

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:latest
AutoUpdate=registry
Timezone=local

Network=proxy.network
HostName=grafana
PublishPort=3333:3333/tcp

Volume=%h/containers/storage/grafana/config/grafana.ini:/etc/grafana/grafana.ini:rw,Z
Volume=%h/containers/storage/grafana/dashboards:/etc/grafana/dashboards:ro,Z
Volume=%h/containers/storage/grafana/provisioning:/etc/grafana/provisioning:ro,Z
Volume=grafana.volume:/var/lib/grafana:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=90
SuccessExitStatus=0 143
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target