[Unit]
Description=Radarr
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry

Environment=PUID=0
Environment=PGID=0

HostName=radarr
Network=proxy.network
PublishPort=7878:7878/tcp

Volume=%h/containers/storage/radarr/config:/config:rw,Z
Volume=/mnt/ssd:/data:rw,z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target