[Unit]
Description=Homepage
Wants=network-online.target
After=network-online.target podman.socket local-fs.target

[Container]
ContainerName=homepage
Image=docker.io/gethomepage/homepage:latest
AutoUpdate=registry
Timezone=local

HealthCmd=none
Environment=HOMEPAGE_ALLOWED_HOSTS=homepage.thenoisykeyboard.com,10.1.1.11:3000

Network=proxy.network
HostName=homepage
PublishPort=3000:3000/tcp

Volume=%h/containers/storage/homepage/config:/config:rw,Z
Volume=%h/containers/storage/homepage/icons:/app/public/icons:rw,z
Volume=/%t/podman/podman.sock:/var/run/docker.sock:ro
Volume=/mnt/hdd:/mnt/hdd:ro,z
Volume=/mnt/ssd:/mnt/ssd:ro,z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=90
SuccessExitStatus=0 143
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target