[Unit]
Description=Jellyfin Media Server
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
Timezone=local

HealthCmd=none

UserNS=keep-id:uid=1000,gid=1000

HostName=jellyfin
Network=proxy.network
PublishPort=8096:8096/tcp

Volume=%h/containers/storage/jellyfin/cache:/cache:rw
Volume=%h/containers/storage/jellyfin/config:/config:rw
Volume=/mnt/hdd:/data:ro
Volume=/mnt/ssd/media:/download:rw

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target