[Unit]
Description=Dozzle
Wants=network-online.target
After=network-online.target local-fs.target podman.socket

[Container]
ContainerName=dozzle
Image=docker.io/amir20/dozzle:latest
AutoUpdate=registry
SecurityLabelDisable=true

Environment=DOZZLE_ADDR=:8008
Environment=DOZZLE_AUTH_PROVIDER=forward-proxy
Environment=DOZZLE_HOSTNAME=homelab
Environment=DOZZLE_NO_ANALYTICS=true

HostName=dozzle
Network=proxy.network
PublishPort=8008:8008/tcp

Volume=%h/containers/storage/dozzle/data:/data:rw,Z
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target