[Unit]
Description=Bazarr
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=bazarr
Image=lscr.io/linuxserver/bazarr:latest
AutoUpdate=registry

Environment=PUID=0
Environment=PGID=0

HostName=bazarr
Network=proxy.network
PublishPort=6767:6767/tcp

Volume=%h/containers/storage/bazarr/config:/config:rw,Z
Volume=/mnt/ssd:/data:rw,z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target