[Unit]
Description=Transmission
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=transmission
Image=lscr.io/linuxserver/transmission:latest
AutoUpdate=registry

Environment=PUID=0
Environment=PGID=0

AddCapability=NET_ADMIN
AddCapability=NET_RAW

HostName=transmission
Network=proxy.network
PublishPort=9091:9091/tcp
PublishPort=51413:51413/tcp
PublishPort=51413:51413/udp

Volume=%h/containers/storage/transmission/config:/config:rw,Z
Volume=%h/containers/storage/transmission/config:/watch:rw,Z
Volume=/mnt/ssd/torrents:/data/torrents:rw,z

[Service]
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target